$accent_dark: #3b3b3b;
$accent_light: #c0c0c0;
$font: #E9E5D6;


@font-face {
  font-family: customF;
  src: url(../../../assets/VeganStylePersonalUse-5Y58.ttf) format("truetype");
}

html {
  // background: linear-gradient(0deg, rgba(172,185,146,1) 0%, rgba(70,78,46,1) 90%);
  nav {
    z-index: 1;
    align-items: center;

    div {
      z-index: 1;
      padding: 20px;
      height: 50px;
      // background-color: $accent_dark;
      h1 {
        z-index: 1;
        color: $accent_light;
        font-size: 55px;
        white-space: nowrap;
        margin: 10px;
        position: absolute;
      }

      button {
        display: inline;
        z-index: 1;
        font-size: 21px;
        white-space: nowrap;
        margin: 10px;
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: $accent_light;
      }

      button:hover {
        z-index: 1;
        // border-bottom: $font 3px solid;
        border: none;
        color: $font;

        img {
          filter: invert(100%);
        }
      }
    }
  }

  mat-card {
    z-index: 1;
    margin-top: 130px;
    padding: 30px;
    background-color: rgba(255, 255, 255, .15);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    backdrop-filter: blur(15px);
    border: none;
    border-radius: 7px;
    text-align: center;
    width: 370px;
    color: $font;

    p {
      z-index: 1;

      mat-form-field {
        z-index: 1;

        mat-label {
          z-index: 1;
          font-size: 17px;
          color: $accent_light;
        }

        input {
          z-index: 1;
          text-align: center;
          border-radius: 7px;
          font-size: 21px;
        }
      }
    }

    button {
      display: inline;
      z-index: 1;
      font-size: 21px;
      white-space: nowrap;
      margin: 10px;
      background-color: transparent;
      border: none;
      box-shadow: none;
      color: $accent_dark;
    }

    button:hover {
      z-index: 1;
      // border-bottom: $background 3px solid;
      border: none;
      color: $font;

      img {
        filter: invert(100%);
      }
    }
  }

  img {
    z-index: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
  }
}

.leftFloat {
  z-index: 1;
  float: right;
}

.center {
  z-index: 1;
  margin: auto;
  width: 60%;
  padding: 10px;
}

.logo {
  font-family: customF;
}

#logoWidht {
  width: 25px;
  left: -10px;
  top: +5px;
  display: inline;
}

#onlyInvert {
  width: 20px;
  left: -10px;
  top: +7px;
  display: inline;
  filter: invert(60%);
}
