$background: #362706;
$accent_dark: #464E2E;
$accent_light: #ACB992;
$font: #E9E5D6;
$err: #ff695e;

html {
  body {


    nav {
      float: right;
      padding: 17px;
      position: fixed;
      top: 50px;
      right: 60px;

      button {
        z-index: 1;
        font-size: 21px;
        white-space: nowrap;
        margin: 10px;
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: $font;

        img {
          filter: invert(100%);
        }
      }

      button {
        z-index: 1;
        font-size: 21px;
        white-space: nowrap;
        margin: 30px;
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: $accent_light;
      }

      button:hover {
        z-index: 1;
        // border-bottom: $font 3px solid;
        border: none;
        color: $font;
      }
    }

    div {

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      font-size: 33px;
      padding: 30px;
      width: 60%;
      background-color: rgba(255, 255, 255, .15);
      box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
      backdrop-filter: blur(15px);
      border: none;
      border-radius: 7px;
      color: $background;

      img {
        width: 130px;
        left: 100px;
        margin: 20px;
        padding: 20px;
      }

      h1 {
        font-size: 27px;
        font-weight: bold;
      }

      p {
        font-size: 23px;
      }
    }

    img {
      z-index: -3;
      top: 0;
      width: 100%;
      overflow: hidden;
      position: absolute;
    }
  }
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
  margin-right: 8px;
}

mat-form-field {
  width: 70%;
  height: 20%;
}



